* {
    margin: 0;
    margin-left: 5px;
    padding: 0;
    border: none;
    font-family: Verdana, Geneva, sans-serif;
  }
  
  body {
    font-size: 14px;
  }
  h1 {
    text-align: center;
  }
  .colouredHeading {
    border: 5px outset orange;
    background-color: aliceblue;
    width: 500px;
  }
  .mainDiv {
    width: 500px;
  }