* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Verdana, Geneva, sans-serif;
  }
  
  body {
    font-size: 14px;
  }
  h1 {
    text-align: center;
  }


  #canvas1 {
    background: transparent;
  }

  .controls {
    position: absolute;
    z-index: 100;
  }

  img {
    display:none;
  }